.InputImage {
    color: inherit;
}

.InputImage input {
    display: none;
    height: 1px;
}

.InputImage label {
    width: 170px;
    text-transform: capitalize;
    display: block;
    text-align: center;
    background-color: #d30301;
    border-radius: 5px;
    padding: 5px 15px;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
